<!DOCTYPE html>
	<html>
	<head>
		<title>Space Project</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel = "stylesheet" type type = "text/css" href = "CSS/stylesheet.css"/>
	

	</head>
	<body>
		<div class="container">
		  <img src="space.jpg" alt="Space" style="width:100%;">
		  <div class="centered">
		  	<h1 align = "center">CRISIS CONNECT</h1>
		  	<div class="centered2">
		  	<div class="header" >
		  	    <a class="active" href="#home">Home</a>
		  	    <a href="dash.html" >Live Updates</a>
		  	   </div>
		  	</div>

		  </div>
		</div>

	<body>

	</body>
	</html>
