body {
    background: url('space2.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
}
.menulabel {
 color:white;
}
#map{
 heigt: 400px;
 width: 100%;
}
@font-face {
font-family: "Elianto";
src: url("Elianto/Elianto-Regular.otf") format("opentype");
}
h2{
color: white;
font-family: "Elianto";

}

h1{
font-family:"Elianto";
color: orange; 
font-size: 8em;
}s
.container {
  position: relative;
  text-align: center;
  color: white;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered2{
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);

}
/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  font-family:"Elianto";
  font-color: white;
}

/* Style the header links */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  font-family:"Elianto";
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
  
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ffffcc;
  color: black;
  font-family: "Elianto"
}

/* Style the active/current link*/
.header a.active {
  background-color: #ffffe6;
  color: black;
  font-family: "Elianto";
}

/* Float the link section to the right */
.header-right {
  float: right;

}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;

  }
}
#home{


}
#liveUpdates{

}
